@import 'modules/all';

header {
	width: 100%;
	height: 80vh;
	min-height: 600px;

	background-color: $background_dark;
	background-image: url('../images/grain.png');

	color: #FFF;

	text-align: center;

	h1 {
		font-size: 2.25rem;
		font-weight: $font-weight-extra-light;
		letter-spacing: 0.66rem;
	}

	h2 {
		font-weight: $font-weight-light;

		span {
			height: 2px;
			width: 100px;
			background-color: #fff;

		}
	}
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}