@import 'modules/colors';

nav {
	position: fixed;
	width: 100%;

	@include timber_gradient;

	text-align: center;
	font-size: 1.33rem;

	ul {
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			display: inline-block;
			padding: 1rem 1rem 0.5rem;

			transition: background-color 0.5s ease;

			&:hover, &.active{
				background-color: $timber_blue;
			}

			a {
				font-weight: $font-weight-light;
				color: #FFF;
				text-decoration: none; // Remove the default underline
			}
		}
	}
}
