@import 'vendor/normalize';

@import 'partials/header';
@import 'partials/nav';
@import 'partials/projects';
@import 'partials/work';
@import 'partials/connect';
@import 'partials/footer';

html {
	font-family: $font-family;
	font-size: 16px; // Fixed default for rem units, even though this is default in most browsers
}

section {
	width: 100%;
}