mixin connect-item(iconurl, href)
	li
		a(href=href)
			img(src=iconurl)
	


section#connect
	h1 Connect with Me

	ul
		// LinkedIn
		+connect-item('images/icon/GitHub-Mark-120px.png', 'about:blank')
		// Facebook
		+connect-item('images/icon/GitHub-Mark-120px.png', 'about:blank')
		// Github
		+connect-item('images/icon/GitHub-Mark-120px.png', 'about:blank')