head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	title Justin Bisignano
	meta(name='description', content='Homepage and resume site for Justin Bisignano')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
	link(rel='stylesheet', href='css/main.css')
	//script(source='https://code.jquery.com/jquery-2.2.0.min.js')