doctype
html
	include ./head.jade
	body
		include ./nav.jade
		include ./header.jade
		include ./projects.jade
		include ./footer.jade

		// Scripts
		script(src='js/vendor/packery.pkgd.min.js')
		script(src='js/isotope_control.js')