mixin navlink(name, href)
	li
		if attributes.class
			a(class!=attributes.class href=href)= name
		else
			a(href=href)= name

nav

	ul
		+navlink('Home', '#home')
		+navlink('Projects', '#projects')
		+navlink('Work', '#work')
		+navlink('Creative', '#creative')
		+navlink('Connect', '#connect')
		+navlink('Resume', 'static/resume.pdf')