mixin navlink(name, href)
	li(id!=attributes.id class!=attributes.class)
		a(href=href)= name
				
nav

	ul
		+navlink('Home', '#home')(id="nav-home")
		+navlink('Projects', '#projects')(id="nav-projects")
		+navlink('Work', '#work')(id="nav-work")
		+navlink('Creative', '#creative')(id="nav-creative")
		+navlink('Connect', '#connect')(id="nav-connect")
		+navlink('Resume', 'static/resume.pdf')(id="nav-resume")